@media screen and (max-width: 560px) {
	
	#blocks{
		display: inline-block;
		margin:10px auto;
	}

	.block{
		border:1px solid blue;
		border-radius: 20px;
		text-align: center;
		height: 300px;
		width: 100%;
		width: 90vw;
   		margin-left: 10px;
	}

	.block img{
		width: 100px;
		height: 100px;
		margin-top: 50px;
	}

	.container{
		width: 0;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}

	.warning{
		animation: Warning 1s infinite;
		color:red;
		padding:20px;
		font-size: 20px;
	}

	.nothing{
		color:red;
		padding:20px;
		font-size: 20px;
		visibility: hidden;
	}

	.warning img{
		height: 20px;
		width: 20px;
		margin-top: -10px;
		margin-left: 10px;
		margin-right: 10px;
	}
}