<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/bootstrap.min.css' />
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>

<body style="background-color:#d8dfeb;color:white;">
    <div class="container">