<% include header %>
<% include menu %>
<div id="content">Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Architecto culpa ab,
  autem facilis incidunt inventore ratione vero debitis
  animi repellendus consequatur dolor maxime dolorem optio
  maiores aut, molestiae officiis facere.
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Architecto culpa ab,
  autem facilis incidunt inventore ratione vero debitis
  animi repellendus consequatur dolor maxime dolorem optio
  maiores aut, molestiae officiis facere.
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Architecto culpa ab,
  autem facilis incidunt inventore ratione vero debitis
  animi repellendus consequatur dolor maxime dolorem optio
  maiores aut, molestiae officiis facere.
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Architecto culpa ab,
  autem facilis incidunt inventore ratione vero debitis
  animi repellendus consequatur dolor maxime dolorem optio
  maiores aut, molestiae officiis facere.
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Architecto culpa ab,
  autem facilis incidunt inventore ratione vero debitis
  animi repellendus consequatur dolor maxime dolorem optio
  maiores aut, molestiae officiis facere.Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Architecto culpa ab,
  autem facilis incidunt inventore ratione vero debitis
  animi repellendus consequatur dolor maxime dolorem optio
  maiores aut, molestiae officiis facere.</div>

<% include footer %>